.categories {
  .outline;
}
.categories__item {
  .outline;
  .margins-mobile;
  padding: 20px;
  background-color: @grayBack;
}
.categories__header {
  margin-top: 0;
  margin-left: 92px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.categories__description {
  font-family: "Arial";
  line-height: 18px;
  color: @grayFont;
}
.categories__site {
  font-size: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .categories__header {
    .oswald(36px; 36px);
    margin-left: 0;
  }
  .categories__description {
    .arial(16px; 24px);
    .outline;
    width: 380px;
    margin-bottom: 60px;
  }
  .categories__site {
    .oswald(20px; 20px);
  }
}

@media (min-width: 1440px) {
  .categories {
    display: flex;
    justify-content: space-between;
  }
  .categories__item {
    width: 464px;
    padding: 53px;
  }
  .categories__header {
    margin-top: 80px;
    margin-bottom: 70px;
    margin-left: 215px;
  }
  .categories__description {
    width: auto;
  }
}
