.contacts {
  .outline;
}
.contacts__wrapper {
  .margins-mobile;
}
.contacts__invite {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #f2f2f2;
}
.contacts__left-col {
  .oswald(16px; 20px);
  text-transform: uppercase;
}
.contacts__right-col {
  .arial(14px; 20px);
}
.contacts__map {
  width: 320px;
  min-height: 400px;
  background-color: #f4ebd6;
}
