.extra .button {
  .oswald(16px; 20px);
  margin-top: 15px;
}
.extra__title {
  .oswald(24px; 24px);
  margin: 0;
  padding: 25px;
  border-bottom: 1px solid #cdcdcd;
}
.extra__good {
  .outline;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cdcdcd;
}
.extra__good-type {
  .oswald(16px; 16px);
  text-transform: uppercase;
  color: #222222;
}
.extra__price-table {
  .arial(14px; 14px);
  color: @grayFont;
}
.extra__bonus {
  width: 280px;
  height: 289px;
  margin: 38px auto;
  background-image: url("../img/mobile/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  text-align: center;
}
.extra__present {
  .arial(16px; 16px);
  width: 170px;
  margin: 0 auto;
  padding-top: 190px;
  color: @white;
}

@media (min-width: 768px) {
  .extra__title {
    .oswald(36px; 36px);
    padding: 0 35px;
    margin-top: 70px;
    margin-bottom: 75px;
    border: none;
    z-index: 10;
    background-color: @white;
  }
  .extra {
    padding: 0 30px;
  }
  .extra__good {
    padding: 27px 38px;
    border: 1px solid #e6e6e6;
  }
  .extra__bonus {
    width: 100%;
    background-image: url("../img/tablet/gift-photo-tablet.jpg");
    background-repeat: no-repeat;
  }
}
