.main-menu {
  position: relative;
  .outline;
}
.main-menu__list {
  // display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.main-menu__item {
  padding: 20px;
  font-family: "OswaldMedium";
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #cdcdcd;

}
.main-menu__button {
  position: absolute;
  right: 20px;
  top: -45px;
}
