// .anchor {
//   text-decoration: none;
//   color: inherit;
//   cursor: pointer;
// }
.arial (@size; @height) {
  font-family: "Arial";
  font-size: @size;
  line-height: @height;
}
.oswald (@size; @height) {
  font-family: "OswaldRegular";
  font-size: @size;
  line-height: @height;
}
.block-title {
  font-size: 36px;
}
// .container {
//   padding-left: 20px;
//   padding-right: 20px;
// }
.margins-mobile {
  margin-left: 20px;
  margin-right: 20px;
}
.paddings-mobile {
  padding-left: 20px;
  padding-right: 20px;
}
.outline {
  outline: 2px solid red;
}
