@font-face {
  font-family: "OswaldRegular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "OswaldMedium";
  src: url("../fonts/oswaldmeduim.woff2") format("woff2"),
    url("../fonts/oswaldmeduim.woff") format("woff");
}

@viewport {
  width: device-width;
  zoom: 1;
}

html {
  .oswald(14px; 14px);
  color: @blackFont;
  background-color: #000000;
  box-sizing: border-box;
  cursor: default;
}

body {
  margin: 0;
  padding: 0;
  background-color: @white;
}

.container {
  width: 320px;
  margin: 0 auto;
  background-color: @white;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.tablet-only,
.desktop-only {
  display: none;
}

.block-title {
  .oswald(36px; 36px);
}

@media (min-width: @tablet) {
  .container {
    min-width: @tablet;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .mobile-only,
  .desktop-only {
    display: none;
  }

  .tablet-only {
    display: inline-block;
  }

  .block-title {
    .oswald(60px; 60px);
  }
}

@media (min-width: @desktop) {
  .container {
    min-width: @desktop;
    max-width: 1440px;
    margin: 0 auto;
  }

  .mobile-only,
  .tablet-only {
    display: none;
  }

  .desktop-only {
    display: inline-block;
  }
}
