@font-face {
  font-family: "OswaldRegular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
      url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "OswaldMedium";
  src: url("../fonts/oswaldmeduim.woff2") format("woff2"),
      url("../fonts/oswaldmeduim.woff") format("woff");
}

@import "scaffoldings.less";
@import "variables.less";
@import "mixins.less";
@import "blocks/advantages.less";
@import "blocks/button.less";
@import "blocks/catalog.less";
@import "blocks/categories.less";
@import "blocks/contacts.less";
@import "blocks/example.less";
@import "blocks/extra.less";
@import "blocks/header.less";
@import "blocks/landing.less";
@import "blocks/main-menu.less";
@import "blocks/page-content.less";
@import "blocks/page-footer.less";
@import "blocks/programm.less";
@import "blocks/social.less";
@import "blocks/top-bar.less";
