.categories {
  .outline;
}

.categories__item {
  .outline;
  .margins-mobile;
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  background-color: @grayBack;
}

.categories__header {
  margin-top: 0;
  margin-left: 70px;
  padding-top: 9px;
  padding-bottom: 7px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: @green;
    border-radius: 50%;
    left: 20px;
    top: 28px;
  }
}

.categories__header--pro {
  margin-top: 6px;
}

.categories__icon {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.categories__icon-slim {
  left: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  background-image: url("../img/svg/icon-cat-slim.svg");
}

.categories__icon-pro {
  left: 10px;
  top: 18px;
  width: 70px;
  height: 70px;
  background-image: url("../img/svg/icon-cat-pro.svg");
}

.categories__description {
  margin-bottom: 20px;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  line-height: 18px;
  color: @grayFont;
  border-bottom: 1px solid #cdcdcd;
}

.categories__site {
  font-size: 16px;
  text-transform: uppercase;

  &::after {
    position: absolute;
    left: 116px;
    content: url("../img/svg/icon-right-arrow-long.svg");
    width: 24px;
  }

  &:hover::after {
    position: absolute;
    left: 116px;
    content: url("../img/svg/right-arrow-verylong.png");
    width: 33px;
  }

  &:active,
  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: @tablet) {
  .categories__item {
    .margins-tablet;
    padding-bottom: 60px;
    margin-bottom: 30px;
  }

  .categories__header {
    .oswald(36px; 36px);
    margin-left: 33px;
    margin-top: 48px;
    margin-bottom: 18px;

    &::before {
      width: 200px;
      height: 200px;
      left: 448px;
      top: 92px;
      z-index: 5;
    }
  }

  .categories__description {
    .arial(16px; 24px);
    .outline;
    width: 384px;
    margin-left: 33px;
    margin-bottom: 34px;
    border: none;
  }

  .categories__site {
    .oswald(20px; 20px);
    margin-left: 33px;

    &::after {
      left: 182px;
    }

    &:hover::after {
      left: 182px;
    }
  }

  .categories__icon-slim {
    left: 450px;
    top: 83px;
    width: 190px;
    height: 190px;
    z-index: 10;
  }

  .categories__icon-pro {
    left: 415px;
    top: 62px;
    width: 260px;
    height: 260px;
    z-index: 10;
  }
}

@media (min-width: @desktop) {
  .categories {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
  }

  .categories__item {
    width: 464px;
    padding: 53px;
  }

  .categories__header {
    margin: 24px 0 0 160px;
    padding: 0 0 24px 0;
  }

  .categories__description {
    width: auto;
    margin: 50px 0 10px 0;
  }

  .categories__header::before {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 46px;
    z-index: 5;
  }

  .categories__icon-slim {
    left: 50px;
    top: 38px;
    width: 100px;
    height: 100px;
    z-index: 10;
  }

  .categories__icon-pro {
    left: 36px;
    top: 46px;
    width: 132px;
    height: 100px;
    z-index: 10;
  }

  .categories__site {
    margin-left: 0;
  }
}
