.example {
  .paddings-mobile;
  background-color: @grayBack;
  padding-top: 18px;
}

.example__title {
  .oswald(36px; 36px);
  margin-top: 0;
}

.example__history {
  .arial(14px; 18px);
  color: @grayFont;
  margin: 0px 10px 22px 0;
  padding-top: 5px;
}

.example__result {
  .outline;
  display: flex;
  justify-content: space-between;
}

.result-data {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
}

.result-data__data-value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.result-data__data-transcript {
  .arial(12px; 12px);
  position: absolute;
  top: 50px;
  width: 65px;
  padding: 0 15px;
  text-align: center;
  background-color: @grayBack;
  color: @grayFont;
}

.example__cost {
  display: flex;
  justify-content: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 35px;
}

.example__live {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 35px;
}

.example__image {
  position: relative;
}

.example__toggle-bar {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: 8px;
  height: 20px;
}

.example__scale {
  display: flex;
  width: 68px;
  height: 6px;
  margin: 0 20px;
  padding: 3px 5px;
  background-color: @white;
  border: 1px solid #cdcdcd;
  border-radius: 20px;
}

.example__toggle {
  width: 37px;
  height: 6px;
  background-color: @green;
  border-radius: 10px;
}

.example__status {
  .oswald(16px; 20px);
  position: relative;
  align-self: baseline;
  padding-bottom: 3px;
  text-transform: uppercase;
  border-bottom: 1px dotted #bebebe;
}

.example__status:hover {
  border-bottom: 1px solid @blackFont;
}

.example__status:active {
  border: none;
}

@media (min-width: @tablet) {
  .example {
    .paddings-tablet;
    position: relative;
    padding: 0;
    background-color: @white;
    flex-wrap: wrap;
  }

  .example__title {
    .oswald(60px; 60px);
    margin-top: 42px;
    margin-left: 30px;
    margin-bottom: 60px;
  }

  .example__history {
    .arial(16px; 24px);
    .margins-tablet;
    margin-top: 42px;
    margin-bottom: 50px;
  }

  .example__result {
    align-self: flex-start;
    width: 367px;
    margin-left: 30px;
  }

  .result-data {
    width: 160px;
    height: 72px;
  }

  .result-data__data-value {
    .oswald(30px; 37px);
  }

  .result-data__data-transcript {
    .arial(14px; 14px);
    width: auto;
    top: 64px;
    background-color: @white;
  }

  .example__cost {
    .oswald(20px; 30px);
    position: absolute;
    width: 180px;
    right: 30px;
    text-align: right;
    align-self: flex-end;
    margin-top: -100px;
    margin-right: 0;
  }

  .example__live {
    .outline;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 28px;
    background: linear-gradient(@white 28%, @grayBack 28%);
  }

  .example__toggle-bar {
    .outline;
    display: flex;
    align-items: center;
    bottom: 67px;
    margin-bottom: 45px;
  }

  .example__status {
    .oswald(20px; 20px);
  }

  .example__scale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 6px;
    margin: 0 23px;
    background-color: #dcdcdc;
  }

  .example__toggle {
    width: 8px;
    height: 8px;
    background-color: @green;
    border-radius: 50%;
    border: 12px solid @white;
    box-shadow: 0 0 0 1px #dcdcdc;
  }
}

@media (min-width: @desktop) {
  .example {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    height: 625px;
    background-color: transparent;
    outline: 1px solid red;
  }

  .example__title {
    background-color: @white;
    margin-top: 26px;
    margin-left: 40px;
  }

  .example__history {
    .outline;
    margin: 82px 0 68px 40px;
    top: 300px;
    width: 435px;
  }

  .example__result {
    margin-left: 40px;
  }

  .example__cost {
    .outline;
    display: inline-flex;
    justify-content: space-between;
    position: inherit;
    right: 0;
    width: 328px;
    margin: 20px auto 0 40px;
  }

  .example__live {
    margin-bottom: 0;
    margin-top: 0;
  }

  .example__image {
    .outline;
  }

  .example__toggle-bar {
    margin: 0;
    margin-top: 14px;
  }
}
