.top-bar {
  margin-left: 20px;
  font-size: 0;
}
.top-bar__logo-image:hover,
.top-bar__title:hover {
  opacity: 0.8;
}
.top-bar__logo-image:active,
.top-bar__title:active {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .top-bar {
    .outline;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    padding: 12px 0;
  }
  .top-bat__title {
    margin-left: auto;
  }

}
